##################################
#
# os/ide/gradle ignore files
#
###################################

.idea
.iml
.gradle
build/
.DS_Store


###################################
#
# java/eclipse/project ignore files
#
##################################

.classpath
.project
.settings
